body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    margin: 1em;
    flex-grow: 1;
    /* border: 1em solid #000; */
}

#root{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-right: 2em;
    /* border: 1em solid #000; */

}

h1 {
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 2em;
    margin: 1em;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 1em;
    margin: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 1em solid #000; */
    transform: translate(-50%, -50%);
    position: fixed;
    top: 40%;
    left: 50%;
}

.loading-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0.5em;
    text-align: center;
    display: inline-block;
    width: 5em;
    height: 5em;
}

.loading-heading:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: .5em;
    box-sizing: border-box;
    border: 2em solid #f3f3f3;
    border-color: #f3f3f3 #999 #f3f3f3 #999;
    animation: loading-heading 1.2s linear infinite;
}

@keyframes loading-heading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 0 0.3125em 0 rgba(0, 0, 0, 0.1);
    margin: .5em;
    padding: .5em .5em;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    width:fit-content;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #cfe1cd;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0em;
    /* border: 1em solid #000; */
}

.sidebar {
    margin-right: 2.2em;
    display: flex;
    flex-shrink: 1;
    /* border: 1em solid #000; */
}

.sidebar-item {
    margin: 1em;
    background-color: #fff;
    border-radius: .3125em;
    box-shadow: 0 0 .3125em 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    display: flex;
    cursor: pointer;
    flex-direction: column;
    list-style: none; 
    position: fixed;
    top: 0;
    left: 0;
    padding: .7em;
    z-index: 999;
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  .sidebar-item:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 600px) {
    body {
        margin: 0em;
    }
    .sidebar {
        margin-right: 0em;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
    }
    .sidebar-item {
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
        bottom: auto;
        padding: .8em;
        z-index: 999;
        opacity: 0.6;
        transition: background-color 0.3s ease;
    }
}

  .main-display {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    margin: 0em;
    padding: 0em;
    /* border: 1em solid #000; */
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: .3125em;
    box-shadow: 0 0 .3125em 0 rgba(0, 0, 0, 0.1);
    flex-shrink: 1;
    flex-grow: 1;
    /* border: 1em solid #000; */
}

.convo-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    /* border: 1em solid #000; */
}

.my-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: .3125em;
    box-shadow: 0 0 .3125em 0 rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-heading {
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
    /* border: 1em solid #000; */
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
    /* border: 1em solid #000; */
}

.username {
    font-family: 'Roboto', sans-serif;
    margin: 0em;
    text-align: center;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.friend-list {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;
    /* border: .1em solid #000; */
}

.friend-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    /* border: 1em solid #000; */
}

.friend-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
    /* border: 1em solid #000; */
}

.action-section {
    margin: .5em;
    /* border: 1em solid #000; */
}

.username-label {
    margin: .5em;
    font-size: 1em;
}

.username-input {
    margin: .5em;
    padding: .5em;
    font-size: 1em;
    border: .1em solid #ccc;
    border-radius: .2em;
}

.users-label {
    margin-left: .5em;
}

.friend-item {
    padding: .8em; 
    margin: .4em; 
    border: .01em solid rgba(0, 0, 0, 0.1);
    border-radius: .4em; 
    max-width: 14em;
}

.convos-page {
    display: flex;
    flex-direction: column;
    /* border: 1em solid #000; */
}

.current-convos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .8em; 
    border: .01em solid rgba(0, 0, 0, 0.1);
    border-radius: .4em; 
    /* border: 1em solid #000; */
}

.new-convo-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.convo-date {
    font-size: .8em;
    margin: 0em;
    padding-left: .5em;

}

.message-container {
    display: flex;
    flex-direction: column;
    background-color: #e0ffd2;
    border-radius: .3125em;
    box-shadow: 0 0 .3125em 0 rgba(0, 0, 0, 0.1);
    margin: .6em;
    padding-bottom: .1em;
    padding-left: .3em;
    padding-right: .3em;
    max-width: 40em;
    flex-shrink: 1;
}

.message-owner {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-size: .8em;
    margin: 0em;

}

.message-date {
    font-size: .8em;
    margin: 0em;
    padding-right: .5em;
}

.sender {
    background-color: rgb(111, 217, 62); 
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.small-message-button {
    margin: .1em;
    padding: .1em .2em;
}

.send-message-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: .5em;
    /* border: 1em solid #000; */

}

.message-input {
    max-height: 4em;
    padding: 1em;
    font-size: 1em;
    border: .1em solid #ccc;
    border-radius: .2em;
    resize: vertical;
}

.create-button {
    margin-left: 0em;
}

.submit-warning-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5em;
    margin-left: 0em;
    /* border: 1em solid #000; */
}

.warning{
    font-size: .8em;
    margin: 0em;
    padding-right: .5em;
}

.label-and-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: .6em;
    /* border: 1em solid #000; */
}

.delete-message-label {
    margin-bottom: .8em;
    font-size: .9em; 
    padding: .5em;
}

.title-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    /* border: 1em solid #000; */

}

.title-input {
    margin: .5em;
    padding: .5em;
    font-size: 1em;
    border: .1em solid #ccc;
    border-radius: .2em;
}

.note {
    font-size: .8em;
    margin: 0em;
    padding-left: .5em;
}

.delete-convo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    /* border: 1em solid #000; */
}

.change-info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    /* border: 1em solid #000; */
}

.delete-form {
    margin: .5em;
    /* border: 1em solid #000; */
}